@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
    background: blueviolet;
}

.conversor-img {
    box-sizing: content-box;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 50px 0;
}

main {
    width: 400px;
    height: 100vh;
    margin: 0 auto;
}

.main-div {
    width: 400px;
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

span{
    color:rgb(57, 57, 57)
}

select,
input,
button {
    padding: 6px;
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

button {
    padding: 10px;
    margin-bottom: 40px;
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

.result {
    outline: 2px black solid;
    border-radius: 20px;
    padding: 10px;
}

.result img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 auto;
}

.leftPosition {

    background-size: contain;
    background-position: left;
}

.ammount-from,
.ammount-to {
    border: 1px rgba(124, 124, 124, 0.2) solid;
    border-radius: 10px;
}

.result p {
    text-align: center;
}

.p-currency-from,
.p-currency-to {
    font-size: 12px;
    font-weight: 600;
    color: rgb(150, 150, 150);
}


@media screen and (max-width: 450px) {
    .conversor-img {
        display: none;
    }

    main {
        min-height: 100vh;
        background-color: white;
    }

    main,
    .main-div {
        width: 100vw;
        margin: 0 0;
        border-radius: 0;
    }

    .main-div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}